---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Welcome />
  <div class="ml-4">
    <Card
      image="https://via.placeholder.com/150"
      title="Card Title"
      content="This is the content of the card."
      tags={["tag1", "tag2"]}
    />
  </div>
</Layout>
