---
export type Props = {
  platform: "github" | "leetcode" | "linkedin" | "dev.to";
  username: string;
};
const { platform, username } = Astro.props;
const socialDict: Record<Props["platform"], string> = {
  github: "https://github.com",
  leetcode: "https://leetcode.com/u",
  linkedin: "https://www.linkedin.com/in",
  "dev.to": "https://dev.to",
};
---

<a href={`${socialDict[platform]}/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }
</style>
